:root {
    --primary-color: #1a237e;
    --dark-primary-color: #0f1041;
    --accent-color: #2962ff;
}

body {
    height: 100%;
    background: #e0e0e0;
    font-family: sans-serif;
    font-size: 14px;
}

.app::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: var(--dark-primary-color);
}

.app .app-header {
    position: relative;
    padding-top: 80px;
    color: #fff;
}

.app .app-header h1 {
    padding-bottom: 25px;
    font-size: 3.25em;
    font-weight: 100;
}

.btn {
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1.2em;
}

.btn:hover {
    background-color: RoyalBlue;
}


.question-container {
    margin: auto;
}

.answer-container {
    margin-bottom: 2em;
}

.answer-single-container {
    line-height: 1.2em;
}

.label-question {
    /* vertical-align: sub; */
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    width: 1.5em;
    display: inline-block;
}

.label-answer {
    font-size: 1.2em;
    width: 1.5em;
    display: inline-block;
    margin-left: 1.5em;
}

.input-question {
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 1.4em;
    width: 60%;
    overflow: hidden;
}

.input-answer {
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    padding-top: 0.1em;
    margin-bottom: 0.3em;
    width: 60%;
}

.question-opt-button {
    border: none;
    padding: 0.25em 0.5em;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 0.25em;
}

#wrap {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

#quiz-body {
    margin-left: 3em;
    margin-right: 3em;
    min-height: 3em;
}

#page-view {
    position: relative;
    padding: 44px 55px;
    background: #fff;
    z-index: 10;
}

#new-question-button {
    float: left;
}

#download-button {
    float: right;
}

#upload-button-label {
    margin-bottom: 4em;
}